@media only screen and (min-width: 35rem) {
    nav ul{         
        display:flex;
        flex-direction: row;
    }
    /*This code is from the home page*/
    .reviews-and-upgrades{
        display:flex;
        flex-direction: row-reverse;
        justify-content:space-evenly;
        padding:10px;
    }
    .delorean-sale div button{
        max-width:150px;
    }

    h1{
        margin-bottom:30px;
        margin-left:10px;
    }

    .delorean-info{
        
        position: absolute;
        top: -25px;
        left:30px;
    }
    nav button{
        display:none;
    }
    nav ul.hide{display:flex;
    flex-direction:row;}

    /* For vehicle display in classification view */
	#inv-display {
		flex-flow: row wrap;
		justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
	}

	#inv-display h2{
		font-size: 1rem;
    }

	#inv-display li {
		max-width: 200px;
		flex: 1 0 auto;
		text-align: center;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
      
	#inv-display div {
		width: 100%;
	}

}